@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

#wrapper {
    max-width: 60rem;
    margin: 0 auto;
}
.active {
    border-bottom: 10px solid  #19adce ;
}

button {
    border-style: none;
    background-color: transparent;
}

/* Entire page format */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Work Sans", sans-serif;
}

body {
    background-color: rgb(220, 220, 220);
}
/* Navigation bar */
nav {
    display: flex;
    flex-direction: column;
    background-color: #020247;
    align-items: flex-start;
    padding: 1rem;
    justify-content: center;
}

.nav-title {
    margin-bottom: 0.5rem;
    color: white;
    font-size: 2rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
}

.nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    padding: 0;   
}

.nav-li {
    color: white;    
    list-style: none;
}

.nav-li a {
    font-family: "Work Sans", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1rem;
    line-height: 2.5rem;
}

/* MAIN CONTENT */
#controls {
    display: flex;
    justify-content: left;
    align-items:center;
    gap: 3rem;
    margin-top: 1rem;
    padding: 1rem;
}

button {
    font-size: 1rem;
}
.fa-sun {
    font-size: 2rem;
    color: #020247;
}

.fa-water {
    font-size: 2rem;
    color: #020247;
}

.fa-fan {
    font-size: 2rem;
    color: #020247;
}

#dynamic-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 2rem;
    padding: 1rem;
}
#dynamic-content img {
    width:100%;
    height: auto;
    box-shadow: #00000090 5px 5px 15px ;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}
#dynamic-content p {
    font-size: 0.75rem;
    line-height: 1.5;
}

#dynamic-content h2 {
    font-size: 1.5rem;
    line-height: 1.5;
    color:#020247;
    margin-bottom: 2rem;
}

/* Footer Style */
footer {
    display: flex;
    flex-direction: column;
    background-color: #020247;
    align-items: flex-start;
    padding: 1rem;
    justify-content: center;
    margin-bottom: 0;
    color: white;
    font-size: 0.75rem;
    font-weight: 300;
}

footer h2 {
    margin-bottom: 1.5rem;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;   
}

footer li {
    list-style: none;
    font-size: 1.5rem;   
}

footer p {
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
}

@media only screen and (min-width: 30rem) {
    .nav-ul { 
        display: flex;
        flex-direction: row;  
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    
    .nav-li {
        justify-content: space-evenly;
    }

    #dynamic-content  {
        display: grid;
        grid-template-areas: 
            "t t"
            "i p";

    }
    #dynamic-content h2 {
        grid-area: t;
    }
    #dynamic-content img {
        grid-area: i;
        width:100%;
        height: auto;
    }
    #dynamic-content p{
        grid-area: p;
        font-size: 1rem;
        padding-left: 2rem;
    }

    
    footer ul {
        flex-direction: row;
    }
}

